<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/ressources/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ressources/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/index.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">

  <title>Idralwel - Administration - Encyclopédie</title>
</head>
<body>

<div class="administration">

  <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Idralwel</a>
    <ul class="navbar-nav flex-row px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/">Retour au site</a>
      </li>
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Se déconnecter</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <nav class="col-md-2 bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link px-0" href="/administration">
                <span data-feather="home"></span>
                Accueil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="#">
                <span data-feather="file"></span>
                Utilisateurs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="/administration/encyclopedie.html">
                <span data-feather="shopping-cart"></span>
                Encyclopédie
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Administration - Gestion de l'encyclopédie</h1>
        </div>

        <h3 class="mb-3">Encyclopédie - Nouvelle entrée</h3>

        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="nom" placeholder="Nom de la créature, de l'objet ...">
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" name="type" id="type">
              <option value="bestiaire">Bestiaire</option>
              <option value="plantes">Encyclopédie des plantes</option>
            </select>
          </div>

          <div id="form-bestiaire">

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="niveau">Niveau de la créature</label>
                  <input type="text" class="form-control" name="niveau" placeholder="42">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="image">Image/Dessin de la créature</label>
                  <input type="file" class="form-control" name="image">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="vie">Point de vie de la créature</label>
                  <input type="text" class="form-control" name="vie" placeholder="42">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="attaque">Attaque de la créature</label>
                  <input type="text" class="form-control" name="attaque" placeholder="42">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-check form-check-inline mt-4">
                  <input class="form-check-input" type="radio" name="passive" id="passive" value="1">
                  <label class="form-check-label" for="passive">Passive</label>
                </div>
                <div class="form-check form-check-inline mt-4">
                  <input class="form-check-input" type="radio" name="passive" id="agressive" value="0">
                  <label class="form-check-label" for="agressive">Aggressive</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <textarea class="form-control" name="description" placeholder="Description de la créature" rows="5"></textarea>
            </div>

          </div>

          <div id="form-plantes">

          </div>

          <button type="submit" class="btn btn-success btn-block mt-2 mb-2">Valider</button>
        </form>

      </main>

    </div>
  </div>

</div>

<footer class="text-center">
  <p class="m-0">© Copyright Idralwel 2020. Tous droits réservés.</p>
  <p class="m-0"><small>Ce site n'est pas affilié avec Mojang.</small></p>
</footer>

<script src="/ressources/jquery/jquery.min.js"></script>
<script src="/ressources/popper/popper.min.js"></script>
<script src="/ressources/bootstrap/js/bootstrap.min.js"></script>
<script src="/ressources/turnjs4/lib/turn.min.js"></script>
<script>

</script>
</body>
</html>