<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/ressources/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ressources/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/index.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">

  <title>Idralwel - Nous rejoindre</title>
</head>
<body>

  <%- include('partials/modals') %>

<div class="nous-rejoindre">

  <header>
    <%- include('partials/navbar') %>
  </header>

  <div class="content pb-2">
    <div class="container">

      <blockquote class="text-center position-relative mb-4">
        <i class="fas fa-quote-left mr-2"></i>
        <em>Bienvenue, jeune aventurier. Je sens que tu es désireux de faire tes preuves dans le monde d'Idralwel. Bien. Je vais te guider. La déesse t'attendra à ton arrivée et t'expliquera tout ce que tu dois savoir.</em>
        <i class="fas fa-quote-right ml-2"></i>
      </blockquote>

      <p>1. Pour rejoindre le serveur, vous devez commencer par respecter ces trois points :</p>
      <ul class="mb-4">
        <li>Vous devez posséder une version officielle de Minecraft (la version Java que vous pouvez acquérir en cliquant <a href="https://www.minecraft.net/fr-fr/store/minecraft-java-edition" target="_blank" class="text-white font-weight-bold">ici</a></li>
        <li>Vous devez vous connecter avec la version 1.12.2 de Minecraft</li>
        <li>Vous devez installer Optifine pour profiter pleinement des textures inédites d'Idralwel</li>
      </ul>

      <p>2. Avant de vous connecter, vous devez configurer Optifine dans les options vidéos de votre Minecraft pour profiter d'une immersion optimale :</p>
      <ul class="mb-4">
        <li>Réglez les <strong>Graphismes (Graphics)</strong> sur <strong>Détaillés (Fancy)</strong></li>
        <li>Dans la partie <strong>Qualité (Quality)</strong>, réglez les <strong>Textures connectés (Connected Textures)</strong> sur <strong>Détaillés (Fancy)</strong></li>
      </ul>

      <p>3. Si vous réunissez ces trois points, il ne vous reste plus qu'à vous connecter à Idralwel en utilisant cette adresse :</p>
      <h5 class="text-center font-weight-bold">play.idralwel.fr</h5>

      <p class="mt-4"><em>Le serveur vous proposera de télécharger un pack de textures à la connexion. Ce pack de textures est indispensable pour profiter pleinement des constructions du serveur.</em></p>

    </div>
  </div>

</div>

<footer class="text-center">
  <p class="m-0">© Copyright Idralwel 2020. Tous droits réservés.</p>
  <p class="m-0"><small>Ce site n'est pas affilié avec Mojang.</small></p>
</footer>

<script src="/ressources/jquery/jquery.min.js"></script>
<script src="/ressources/popper/popper.min.js"></script>
<script src="/ressources/bootstrap/js/bootstrap.min.js"></script>
<script src="/ressources/turnjs4/lib/turn.min.js"></script>
</body>
</html>