<!-- views/partials/navbar.ejs -->

<div class="navigation">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">IDRALWEL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nous-rejoindre">Nous rejoindre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/encyclopedie">Encyclopédie</a>
            </li>
            <% if(!logged){ %>
            <li class="nav-item">
              <a class="nav-link border" href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Se connecter</a>
            </li>
            <% }else{%>
              <li class="nav-item">
                <a class="nav-link border" href="/logout">Se deconnecté</a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
  </div>